header {
  /* display: none; */
  z-index: 1000;
  height: 113px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 16px;
}
.header {
  height: 100%;
}
nav {
  gap: 40px;
  display: flex;
  justify-content: center;
}
nav a {
  font-size: 18px;
  padding: 4px 28px;
  background-color: var(--primary-bg-color);
  border: 2px solid transparent;
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;
}
nav a:hover {
  background-color: transparent !important;
  border: 2px solid var(--primary-bg-color) !important;
  color: var(--primary-bg-color) !important;
}
nav div {
  gap: 9px;
}
nav span {
  font-size: 11px;
  font-family: InterMedium;
}

@media only screen and (max-width: 980px) {
  /* For tablet phones: */
  nav {
    flex-direction: column !important;
  }
  header {
    /* display: none; */
    z-index: 1000;
    height: 625px !important;
    position: relative;
  }

  nav a {
    width: 428px;
    height: 38px;
    text-align: center;
  }
  nav span {
    font-size: 12px;
    font-family: InterMedium;
    font-weight: 600;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  nav {
    flex-direction: column !important;
  }
  header {
    /* display: none; */
    z-index: 1000;
    height: 625px !important;
    position: relative;
  }

  nav a {
    width: 228px;
    height: 38px;
    text-align: center;
  }
  nav span {
    font-size: 12px;
    font-family: InterMedium;
    font-weight: 600;
  }
}
