@font-face {
  font-family: InterMedium;
  /* src: url("../../public/fonts/Inter/static/Inter-Medium.ttf")
    format("truetype"); */
}
@font-face {
  font-family: InterLight;
  /* src: url("../fonts/Inter/static/Inter-Light.ttf") format("truetype"); */
}
@font-face {
  font-family: InterNormal;
  /* src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype"); */
}
:root {
  --primary-bg-color: #182d4f;
  --primary-color: #ffffff;
  --secondary-color: #0d1d38;
  --secondary-bg-color: #eceef1;
  --border-color: #ee6437;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: InterMedium, sans-serif;
  color: var(--primary-color);
}
body {
  background: #eceef1;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.gap-3 {
  gap: 30px;
}
.gap-4 {
  gap: 40px;
}
.gap-5 {
  gap: 50px;
}
.gap-6 {
  gap: 60px;
}

.container {
  max-width: 1024px !important;
  margin: 0 auto;
}
.container-sm {
  /* max-width: 1280px !important; */
  max-width: 985px !important;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.flex__col {
  flex-direction: column;
  /* align-items: center; */
}
.flex__row {
  flex-direction: row;
  /* align-items: center; */
}
.item-center {
  align-items: center;
}
.flex__between {
  justify-content: space-between;
}

.text__highliter {
  border-bottom: 4px solid var(--border-color);
  padding: 7px;
}
button {
  border: none;
}

@media only screen and (max-width: 500px) {
  .container-sm {
    max-width: 93% !important;
  }
}
