.life__section {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
}

.life__section .card__container {
  background: #eceef1;
}
.life__section__content .text__highliter {
  text-align: center;
}
.life__section__content h1 {
  font-size: 24px;
  font-weight: 600;
  font-family: InterMedium;
}
.life__section__content h2 {
  font-size: 24px;
  margin-bottom: 50px;
  margin-top: 40px;
  text-align: center;
  font-weight: 500;
  font-family: InterNormal;
}
.video__footer__left {
  font-family: InterNormal;
  font-size: 20px;
}
.video__footer__right {
  font-family: InterNormal;
  font-size: 20px;
  font-weight: 500;
}

.video__notice {
  text-align: right;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  font-family: InterLight;
  margin-top: 25px;
  padding: 0px 20px;
}

.card__container .verticle__line {
  margin: 20px 0px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .life__section__content h2 {
    width: auto;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
  }

  /* .video__card video{
        width: 483px;
        height: max-content;
      } */
}
@media only screen and (max-width: 980px) {
  /* For mobile phones: */

  .life__section__content h2 {
    width: auto;
  }
}
@media only screen and (max-width: 700px) {
  /* For mobile phones: */

  .video__notice {
    padding: 0px;
  }
}
